{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center;">

        <div style="font-size: 18px; padding-top: 20px;">{% trans 'Are you sure you want to sign out?' %}</div>

        <form method="post" action="{% url 'account_logout' %}" style="margin-top: 20px;">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-danger" type="submit" style="margin-bottom: 30px;">{% trans 'Sign Out' %}</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}
