<ul id="students-list" class="list-group">
  {% if students %}
    {% for student in students %}
      <div id="student-filtered-results">
        <a href="{% url 'core:student-detail' student.name student.surname %}">
          <img id="student-photo" src="{{ student.photo.url }}" width="80" height="80">
        </a>
        <div id="main-info">
          Name: {{student.name}} <br>
          Surname: {{ student.surname }} <br>
          Graduation Year: {{ student.year.year }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if students and students.has_previous %}
            {% if specialization %}
              <a id="prev" href="" onclick='Retrieve(event,{{students.previous_page_number}}, "{{students.0.specialization.faculty.name }}", "{{ students.0.specialization.name }}")'>previous</a>
            {% else %}
              <a id="prev" href="" onclick='Retrieve(event,{{students.previous_page_number}}, "{{students.0.specialization.faculty.name }}")'>previous</a>
            {% endif %}
        {% endif %}

        {% if students %}
        <span class="current">
            Page {{ students.number }} of {{ students.paginator.num_pages }}.
        </span>
        {% endif %}

        {% if students and students.has_next %}
          {% if specialization %}
            <a id="next" href="" onclick='Retrieve(event,{{ students.next_page_number }}, "{{ students.0.specialization.faculty.name }}", "{{ students.0.specialization.name }}")'>next</a>
          {% else %}
            <a id="prev" href="" onclick='Retrieve(event,{{students.next_page_number}}, "{{students.0.specialization.faculty.name }}")'>next</a>
          {% endif %}
        {% endif %}
    </span>
</div>
